/*  */
html {
  font-size: 100%;
  line-height: 1.5rem;
  box-sizing: border-box;
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 100%;
}

.header {
  

}


/* padding: 14px;
min-height: 100%;
max-height: 100%;
font-family:Cochin, Georgia, Times, 'Times New Roman', serif;
margin: 0 px;
background-color: #222222d8;
color: #ffffff; */


.flex-box {
  display: flex;
  flex-flow:column;
  background-color: #ffffff;
}


.header h1 {
  color: #ffffff;
}

.header h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: inline-block;
  font-size: 48px;
}


.flex-box>div {
  background-color: #65aebb;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.header nav {
  padding-top: 20px;
  margin-right: 20px;
  float: right;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

.section {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 20px;
  padding-top: 10%;
  color: #000000;
}

.section-title {
  font-size: 3em;
  color: #0521aa;

}

.section-content {
  border-left-style: solid;
  padding-left: 55px;

}

.first-project {
  width: 300px;
}